*.class
*.log
*.iml

# sbt specific
.bsp/
.cache
.history
.lib/
.idea/
.bloop/
.metals/
.vscode/
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
null/
src/node/package-lock.json
src/node/package.json
src/node/node_modules/
src/main/resources/application.properties
